<!DOCTYPE html>{% load i18n utils %}
<html>
    <head>
        <link rel="stylesheet" href="{{ STATIC_URL }}style.css" type="text/css" />
    </head>
    <body class="{% block class %}{% endblock %}">
        <div id="container">
            <div id="languages">
                <form action="/i18n/setlang/" method="post">
                    {% csrf_token %}
                    <input name="next" type="hidden" value="{{ request.session.no_lang_path }}" />
                    {% get_language_info_list for LANGUAGES as languages %}
                    <ul id="lan">
                    {% for language in languages %}
                        <li class="{% if LANGUAGE_CODE == language.code %}selected{% endif %}"><button name="language" value="{{ language.code }}">{{ language.code }}</button></li>
                    {% endfor %}
                    </ul>
                </form>
            </div>
            <div id="top">
                <a href="{% url 'home' %}"> <img src="/Files/media/imports/logo-FB-trans.png" alt="Prix Fernand Baudin Prijs" /> </a>
            </div>
            <div id="navigation">
                <ul>
                    {% for nav_item in nav_items %}<li><a href="{% url 'flatpage-detail' slug=nav_item.slug %}">{% get_trans nav_item title LANGUAGE_CODE %}</a></li>{% endfor %}
                </ul>
            </div>
            <div id="content">
                {% block body %}{% endblock %}
            </div>
        </div>
    </body>
</html>