
{% load i18n utils %}

{% block content %}
<h2>{% trans "All books" %}</h2>


<table class="summary">
    <tr><td>id</td><td>{% trans "Title" %}</td><td>{% trans "Subtitle" %}</td><td>{% trans "Category" %}</td><td>{% trans "Publisher" %}</td><td>{% trans "Graphic designer" %}</td><td>{% trans "Printer" %}</td></tr>
    {% for book in books %}
<tr><td>{{ book.id }}</td><td>{{ book.title }}</td><td>{{ book.subtitle }}</td><td>{{ book.category }}</td><td>{{ book.publishers }}</td><td>{{ book.designers }}</td><td>{{ book.printers }}</td>
{% endfor %}
</tr><br>
</table>


{% endblock %}
