{% extends "register_base.html" %}
{% load i18n utils %}

{% block content %}
<p style="margin-left: -26px"><a href="{% url 'books-edit' book.slug %}">{% trans "Back" %}</a></p>

<h2 style="text-align: center"><em>“{{ book.title }}”</em></h2>
<h2>{% trans "The collaborators" %}</h2>
<p><em>{% trans "You must register at least one editor, one graphic designer, one printer, one binder, even if they are the same persons." %}</em></p>
<form action="{% url 'books-edit-collaborators' book.slug %}" method="post">{% csrf_token %}
{% for form in formset %}
{{ form.as_p }}
{% endfor %}
{{ formset.management_form }}
<input type="submit" value="{% trans "Submit" %}" />
</form>

{% endblock %}