{% extends "register_base.html" %}
{% load i18n utils %}

{% block content %}


<h1>{% trans "Applications" %}</h1>

<h4>{% trans "The prize is open to <em>all book categories</em>: from the art book to the children’s book, the cooking book and other technical books. Any <em>graphic designer, publisher, printer, artist/conceptor or illustrator</em> working or living in Brussels or Wallonia can compete with a book published in 2013 to which he/she has contributed." %}</h4>
<p>{% trans "The registration of books published during the year 2013 will be opened from the 16th of December to the 31st of January." %}</p>


<h2 id="register-a-book">{% trans "REGISTER A BOOK" %}</h2> 
<p>{% trans "Please enter below your email address so that we may verify if your contact is already registered in our database." %}</p>

<form action="{% url 'login' %}" method="post">{% csrf_token %}
{{ form.as_p }}
<input type="submit" value="{% trans "Submit" %}" />
</form>


<h2>{% trans "How to apply" %}</h2>
<h3 style="text-transform: uppercase">{% trans "Conditions for admission" %}</h3>
<p>{% trans "An eligible book is one which has been published during the previous year, as well as:" %}</p>
<ul>
    <li>{% trans "a book created by a graphic designer/Artist designer working or living in Brussels for at least one year or a book to which an illustrator working or living in Brussels for at least one year has contributed;" %}</li>
    <li>{% trans "a book, the publisher of which has his main office in Brussels;" %}</li>
    <li>{% trans "a book, the printer of which has his main work-place in Brussels." %}</li>
</ul>
<p>{% trans "At least one of the three above-mentioned parties must be situated in the Brussels-Capital region or in Wallonia." %}</p>
<p>{% trans "Competing in the Fernand Baudin Prize is entirely free of charge." %}</p>
<p>{% trans "Finally, for your submission of a book to be accepted by the Fernand Baudin Prize, you must print out the registration form and send it with one new copy of the book before 31th January 2014 to the following address:" %}</p>

<p>{% trans "BRUSSELS INVEST &amp; EXPORT<br />Madeleine Cantaert<br />Concerning: Fernand Baudin Prize<br />Avenue Louise 500/4<br />1050 Bruxelles" %}</p>

<p>{% trans "The person who submits a book for participation, becomes the contactperson, and agrees to supply to the organizers, free of charge, three extra copies if this specific book is awarded a prize." %}</p>
<a href="http://www.prixfernandbaudinprijs.be/Public/Rules.php?ID=3527">{% trans "Click here to see the official rules of the competition." %}</a>
<p>{% trans "Procedure for registration:" %}</p>
<ol>
    <li>{% trans "fill in online the registration form step by step and as precisely as possible;" %}</li>
    <li>{% trans "you may find that some contributors are already registered in our database, if not, please provide the necessary information;" %}</li>
    <li>{% trans "with every step of the registration, there is the possibility to leave comments, notes and complementary information in the field “comments”;" %}</li>
    <li>{% trans "up until the final validation of your registration, you can always go back to previous step(s) to change or complete the provided information;" %}</li>
    <li>{% trans "once your registration is complete, download the registration form in PDF-format;" %}</li>
    <li>{% trans "print out this form and send it out with one new copy of the book." %}</li>
</ol>




<h2><a href="#register-a-book">{% trans "REGISTER A BOOK" %}</a></h2>


<!-- <h2>{% trans "" %}</h2> -->


<!--  <p>{% trans "" %}</p>  -->

{% endblock %}
