{% extends "register_base.html" %}
{% load i18n utils %}

{% block content %}


<h1>{% trans "Welcome" %} {{ user.get_full_name }}</h1>

<p>{% trans "Please, fill in the registration form step by step and as precisely as possible." %}</p>



<h2>{% trans "The book" %}</h2>  


<!-- <h2>{% trans "" %}</h2> -->


<!--  <p>{% trans "" %}</p>  -->

<form action="/contact/" method="post">{% csrf_token %}
{{ form.as_p }}
<input type="submit" value="Submit" />
</form>


<h2>{% trans "The collaborators" %}</h2>

<h2>{% trans "Application summary" %}</h2> 
<p>{% trans "You can now check the summary of your book submission." %}</p>

<p>{% trans "You can rectify incorrect data by returning to the previous steps." %}</p>
<p>{% trans "Once you have confirmed these data, you shall receive confirmation of your submission by email." %}</p>

{% endblock %}